<div class="d-flex justify-content-center align-items-center" style="width: 100vw;">
    <div class="card" style="margin: 25px 0px;">
        <div class="nav nav-tabs d-flex" style="justify-content: center; height: fit-content;" id="nav-tab" role="tablist">
            <a class="w-100 nav-item nav-link" id="tabLeft" routerLink="iniciarSesion" routerLinkActive="active"
                style="flex: 1;">
                Iniciar Sesión
            </a>
            <a class="w-100 nav-item nav-link" id="tabRight" routerLink="registrarse" routerLinkActive="active"
                style="flex: 1;">
                Registrarse
            </a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
